body {
  padding-top: 50px;
}
.navbar.navbar {
  background: #ff9e9d;
}
.navbar-header a.navbar-brand {
  color: #d43f3a;
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #d43f3a;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.table {
  margin-top: 15px;
}
.well {
  margin-top: 40px;
}
.top-padding-med {
  padding-top: 10px;
  padding-bottom: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
