body
  padding-top 50px

////Navbar
//.navbar.navbar
//  background #FF9E9D


 //this is the Navbar header (left side, Public Romance and item under)
.navbar-header a.navbar-brand
  color #00b3ee //public romance
  margin-top -15px
  margin-bottom -20px
  h6
    color #d43f3a //Stock Management

//Navbar dropdown menu
.dropdown-menu


footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left: 10px
  button
    margin-left:  10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

.table
  margin-top 15px

  //This is the main well in the reports page
.well.report
  margin-top 40px

  //This is the main panel on the main page
.jumbotron.main
  margin-top 10px

 //This is the accessorry panel on the main page
.panel.panel-primary.accessory
  margin-top 10px

//This is the Vintage panel on the main page
.panel.panel-primary.vintage
  margin-top 10px

.top-padding-med
  padding-top 10px
  padding-bottom  10px

.margin-left-med
  margin-left 10px





