body {
  padding-top: 50px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
h6
}
.dropdown-menu,
footer {
  padding-left: 15px;
  padding-right: 15px;
}
.dropdown-menu p,
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.table {
  margin-top: 15px;
}
.well.report {
  margin-top: 40px;
}
.jumbotron.main {
  margin-top: 10px;
}
.panel.panel-primary.accessory {
  margin-top: 10px;
}
.panel.panel-primary.vintage {
  margin-top: 10px;
}
.top-padding-med {
  padding-top: 10px;
  padding-bottom: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
