extends ../includes/layout

block main-content
    div(ng-include="'/partials/account/navbar-login'")
    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2016 Public Romance