//Stock-List => Stock Details
//Details list page for the individual item.
//Should contain all information of the Product item on this page
//Should be aple to Edit the item, delete the item and go back to the Stock List page
//Controller is mvStockDetailsCtrl
.container.top-padding-med
    h1 {{product.name}}
    .row
        .col-md-5
            h3 Description:
            h4 {{product.description}}

        .col-md-3
            .panel.panel-primary
                .panel-heading Details
                .panel-body
                    b Quantity
                    p Store Quantity: {{product.quantity.store}}
                    p Warehouse Qauntity: {{product.quantity.warehouse}}
                    b Price
                    p Cost Price: {{product.costprice | currency:'€'}}
                    p Retail Price: {{product.retailprice | currency:'€'}}
                    b Info
                    p Category: {{product.category}}
                    p Vintage Stock: {{product.isVintage}}
                    p Accessory Stock: {{product.isAccessory}}
        .col-md-4
            .panel.panel-primary
                .panel-heading Picture
                .panel-body

    .form-group
        .col-md-10.col-md-offset-2
            .pull-right
                a.btn.btn-primary(href="/stock/update/{{product._id}}") Edit Item
                | &nbsp &nbsp;
                button.btn.btn-primary(ng-click="deleteProduct()") Delete Item
                | &nbsp &nbsp;
                a.btn(href="/stock") Cancel