//stock list data table view page.
.container
    table.table.table-hover.table-striped.table-condensed
        thead
            tr
                //Columns
                th Product Name
                th Category
        tbody
            //Row
            tr(ng-repeat="product in products")
                td {{product.name}}
                td {{product.category}}