//Stock-List => Stock Details => Stock Update
//Form for adding in a new new stock item
.container
    .well
        //giving the form a name to access it from Controller
        form.form-horizontal(name="updateStockForm")
            fieldset
                legend Alter Stock Item
                .form-group
                    label.col-md-2.control-label(for="pname") Product Name
                    .col-md-10
                        input.form-control(name="pname", type="text", required, ng-model="product.name")
                .form-group
                    label.col-md-2.control-label(for="pd") Description
                    .col-md-10
                        input.form-control(name="pd", type="text", required, ng-model="product.description")
                .form-group
                    label.col-md-2.control-label(for="pc") Category
                    .col-md-8
                        select.form-control(name="pc", required, ng-model="product.category", ng-options="category.name as category.name for category in categories")
                    button(ng-click="addCategory()") Add Category
                .form-group
                    label.col-md-2.control-label(for="vin") Vintage
                    .col-md-1
                        input.form-control(name="vin", type="checkbox", ng-model="product.isVintage")
                    label.col-md-2.control-label(for="acc") Accessory
                    .col-md-1
                        input.form-control(name="acc", type="checkbox", ng-model="product.isAccessory")
                .form-group
                    label.col-md-2.control-label(for="storequan") Store Quantity
                    .col-md-10
                        input.form-control(name="storequan", type="number", min="0", required, ng-model="product.quantity.store")
                .form-group
                    label.col-md-2.control-label(for="warequan") Warehouse Quantity
                    .col-md-10
                        input.form-control(name="warequan", type="number", min="0", required, ng-model="product.quantity.warehouse")
                .form-group
                    label.col-md-2.control-label(for="cost") Cost Price
                    .col-md-10
                        input.form-control(name="cost", type="text", min="0.01", step="0.01",  required, ng-model="product.costprice")
                form-group
                    label.col-md-2.control-label(for="retail") Retail Price
                    .col-md-10
                        input.form-control(name="retail", type="text", min="0.01", step="0.01",  required, ng-model="product.retailprice")
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="update()") Submit
                            | &nbsp &nbsp;
                            a.btn(href="/stock/item/{{product._id}}") Cancel
