//Navbar login component. Username / Password and login button.
//links to mvNavBarLoginCtrl
//called from index.jade
.navbar-right(ng-controller="mvNavBarLoginCtrl")
    form.navbar-form
        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(placeholder="Password", type="password", ng-model="password")
            //calls signin from ctrl
        button.btn.btn-primary(ng-click="signin(username, password)") Sign In