//Accessory stock panel.
.panel.panel-primary
    .panel-heading.text-center Accessory Stock
    .panel-body
        .row(ng-repeat="product in products | filter: {isAccessory:true}")
            .col-md-12 {{product.name}} | {{product.category}}
